<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">

	<div class="box-1-3 red"></div>
	<div class="box-1-3 black"></div>
	<div class="box-1-3 seagreen"></div>

	<div class="box-1-1 black"></div>

	<div class="box-1-2 red"></div>
	<div class="box-1-2 maroon"></div>

	<div class="box-3-5 blue"></div>
	<div class="box-5-3 black"></div>
	<div class="box-5-3 red"></div>

	</div>

</body>
</html>